@using MVC.Models
@model SimpleInterestModel

<form method="post">

    @{
        if (ViewBag.ErrorMessage != null)
        {
            <strong class="text-danger">@ViewBag.ErrorMessage</strong>
        }
    }

    <h2 >Simple Interest Calculator</h2>

    <div class="row mt-4">
        <div class="col-sm-3">
            Principle Amount  :
        </div>
        <div class="col-sm-3">
            <input type="number" asp-for="PrincipleAmount" />
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-3">
            Rate of Interest  :
        </div>
        <div class="col-sm-3">
            <input type="number" asp-for="RateOfInterest" />
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-3">
            Years of Investment  :
        </div>
        <div class="col-sm-3">
            <input type="number" asp-for="YearsOfInvestment" />
        </div>
    </div>
   
    <button class="mt-4 m-lg-4 mb-2 btn btn-primary" type="submit">Calculate</button>

</form>

<h2 class="mt-2">Calculated Value</h2>

    <div class="row mt-4">
        <div class="col-sm-3">Principle Amount  :</div>
        <div class="col-sm-3">@Model.PrincipleAmount</div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-3">Rate of Interest  :</div>
        <div class="col-sm-3">@Model.RateOfInterest</div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-3">Years of Investment  :</div>
        <div class="col-sm-3">@Model.YearsOfInvestment</div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-3"> Simple Interest Amount :</div>
        <div class="col-sm-3">@Model.SimpleInterest</div>
    </div>
